.banner{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    width: 1920px;
    height: 850px;
    justify-content: space-between;
}
body{
    font-family: Lato;

}
.banner1{
    margin-left: 100px;
}
.banner-heading{
    
    width: 708px;color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-des{
    width: 634px;color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.first-button{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF; font-size: 20px;
    font-weight: 700;
}
.banner-image{
    width: 635px;
    height: 800px;
    margin: 50px 240px 0px 350px;
    
}
/* Header complete */
/* main part start here!!!!!!! */
/* bonus sec starts */
.bonus-section{
    align-items: center;text-align: center;margin-top: 128px;
}

.bonus-sec-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.bonus-sec-des{
    width: 594px;color: rgba(39, 39, 39, 0.60);padding-left: 663px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px
}
.bonus-sec-images{
    display: flex;justify-content: space-around;margin: 48px 240px 128px 240px;
   
}
.bonus-sec-images img{
    padding: 110px 78px 0px 76px;
    width: 310px;
    height: 428px
}

.bsi1{
    background: rgba(167, 33, 98, 0.15); 
    background-size: 464px 538px;border-radius: 300px 300px 0px 0px;  

}


.bsi2{
    border-radius: 300px 300px 0px 0px;background-size: 464px 538px;
    background: rgba(5, 151, 160, 0.15);
}
.bsi3{
    border-radius: 300px 300px 0px 0px;background-size: 464px 538px;
    background: rgba(71, 125, 17, 0.15);
}



.bsi-name{
    text-decoration: underline; color: #272727;
    text-align: center;padding-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px
}


/* section1 */
.sec1{
    display: flex;width: 1922px;justify-content: space-evenly;
    height: 620px;border-radius: 8px;margin-top: 128px;
    background: rgba(229, 84, 115, 0.05);align-items: center;
}
.sec2-banner-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.red-text{
    color: #E55473;
}
.sec1-banner-des{
    width: 594px;color: rgba(39, 39, 39, 0.60);
    text-align: center;margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.second-button{
    border-radius: 8px;margin-left: 200px;margin-top: 32px;
    background: #E55473;display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* sec1 complete */
/* sec2 start */
.sec2{
    align-items: center;text-align: center;margin-top: 128px;
}
.sec2-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.sec2-des{
    width: 594px;color: rgba(39, 39, 39, 0.60);padding-left: 663px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
.sec2-image{
    display: flex;justify-content: space-between;margin: 48px 240px 128px 240px;
}
/* sec2 ends here */
/* start of sec3 */
.sec3{
    background-image: url('Flower Asset/Rectangle 9.png');border-radius: 8px;
    width: 1400px;height: 449px; align-items: center;margin: auto;
    
    
}
.sec3-banner{
    padding-top: 80px;
    text-align: center;
}
.sec3-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;margin-bottom: 0px;
}
.sec3-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;margin-bottom: 48px;
}
.sec3-form{
    width: 700px;
    height: 64px;border-radius: 8px;
    background: #FFF;color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}
.third-button{
    width: 150px;
    height: 68px;border-radius: 8px;
    background: #E55473;color: #FFF;
    font-size: 20px;
    font-weight: 700;

}





/* start of footer */
.footer-sec{
    text-align: center;width: 1922px;
    height: 449px;background: #111010;margin-top: 128px;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
}
.white-text{
    color: #FFF;
}
.footer-des{
    text-align: center;width: 625px;color: rgba(255, 255, 255, 0.90);
    font-size: 18px;padding-left: 646px;
    font-weight: 400;
    line-height: 30px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);padding-bottom: 128px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}